* {
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(148, 187, 233);
    background: linear-gradient(90deg, rgba(148, 187, 233, 1) 0%, rgba(101, 139, 224, 1) 53%, rgba(57, 107, 219, 1) 100%);
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* CABEÇALHO */

.azul {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background-color: rgb(59, 59, 228);
    z-index: 2;
}

.azul img {
    display: block;
    margin: auto;
    margin-top: -15px;
    width: 500px;
}

/* MENU LATERAL  */

.menu-lateral {
    width: 80px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    padding: 40px 0 40px 1%;
    box-shadow: 5px 0 0 rgb(59, 59, 228);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .4s;
    z-index: 3;
}

.menu-lateral.expandir {
    width: 300px;
}

.bnt_expandir {
    width: 100%;
    padding: 30px;
}

.bnt_expandir>i {
    color: rgb(255, 255, 255);
    font-size: 30px;
    cursor: pointer;
    margin-left: -20px;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item_menu {
    transition: .3s;
}

ul li.ativo {
    background-color: rgb(59, 59, 228);
}

ul li.item_menu:hover {
    background-color: rgb(59, 59, 228);
}

ul li.item_menu a {
    color: azure;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 25px;
    line-height: 40px;
}

ul li.item_menu a .txt-link {
    margin-left: 65px;
    transition: .5s;
    opacity: 0;
}

.menu-lateral.expandir .txt-link {
    margin-left: 35px;
    opacity: 1;
}

ul li.item_menu a .icon>i {
    font-size: 30px;
    margin-left: 10px;
}

/* ------------------------- SELECIONAR HORÁRIO ----------------------------- */

.input_data {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #00001c;
    margin-top: 15px
}

.input_data:hover{
    background-color: #eeeeee75;
}

.grup-cards input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #00001c;
    margin-top: 15px
}

.grup-cards input:hover {
    background-color: #eeeeee75;
}

.grup-cards input:focus-visible {
    outline: 1px solid #6c63ff;
}

.horario {
    background-color: #ffffff;
    width: 520px;
    height: 200px;
    border-radius: 10px;
    margin-left: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.horario div {
    display: flex;
    width: 500px;
    padding: 15px;
    margin-left: 10px;
    margin-top: 115px;
    position: absolute;
    overflow-x: scroll !important;
}

.horario label {
    height: 30px;
}

.horario input[type="radio"] {
    position: absolute;
}


.horario input[type="radio"]:checked+span {
    border: .5px solid rgb(56, 143, 241);
    background-color: #e3e6ee;
    z-index: 1;
    color: #000000;
}


label span {
    display: block;
    cursor: pointer;
    background-color: #fff;
    padding: 0.375em .75em;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    letter-spacing: .05em;
    color: #3e4963;
    text-align: center;
    transition: background-color .5s ease;
}


label:first-child span {
    border-radius: .375em 0 0 .375em;
}

label:last-child span {
    border-radius: 0 .375em .375em 0;
}


/* Estilizando o scroll */
::-webkit-scrollbar {
    width: 10px;
    background-color: #e4e0e0;
    border-radius: 5px;
}

/* Estilizando o thumb (o botão deslizante do scroll) */
::-webkit-scrollbar-thumb {
    width: 10%;
    background-color: #b4a6a6;
    /* Cor de fundo do thumb */
    border-radius: 5px;
    /* Borda arredondada do thumb */
}

.horario-pagamento {
    position: absolute;
    margin-top: -250px;
    z-index: 1;
}

#horario {
    text-align: center;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    border: none;
    font-size: 20px;
}

/* ------------------------- FIM SELECIONAR HORÁRIO ----------------------------- */




#aviso {
    text-align: center;
}



h1 {
    margin-top: 1020px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 30px;
}



/*----------------------------------- FORMAS DE PAGAMENTO -------------------------- */

.forma-pagamento p {
    margin-top: 150px;
    text-align: center;
}

.forma-pagamento {
    display: flex;
    margin-left: -15px;
}

.forma-pagamento i {
    font-size: 100px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ------------------------------------------------DIV CARD--------------------------------- */

.div-card {
    background-color: aliceblue;
    height: 260px;
    width: 600px;
    border-radius: 10px;
    position: absolute;
    top: 124%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.card {
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
}

.card:hover {
    border: 1px solid black;
    transform: scale(1.05);
    background-color: rgba(208, 203, 202, 0.725);
}

.card:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.card1 {
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
}

.card1:hover {
    border: 1px solid black;
    transform: scale(1.05);
    background-color: rgba(208, 203, 202, 0.725);
}

.card1:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.card2 {
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
}

.card2:hover {
    border: 1px solid black;
    transform: scale(1.05);
    background-color: rgba(208, 203, 202, 0.725);
}

.card2:active {
    transform: scale(0.95) rotateZ(1.7deg);
}


/* ------------------------------------------------FIM DIV CARD--------------------------------- */

/*---------------------- INPUT CARDS-----------  */

.grup-cards {
    margin-left: 50px;
    margin: 20px;

}

.grup-cards input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #00001c;
    margin-top: 15px
}

.grup-cards input:hover {
    background-color: #eeeeee75;
}

.grup-cards input:focus-visible {
    outline: 1px solid #6c63ff;
}

.grup-cards label {
    display: block;
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.teste {
    margin-left: 230px;
    margin-top: -200px;
}

.espaco {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: transparent;
    margin-top: 1850px;
}

.grup-cards select {
    border: none;
    outline: 1px solid #8680f6;
    box-shadow: 1px 1px 6px #00001c;
    border-radius: 10px;
    text-align: center;
    margin-top: 15px;
    width: 60px;
    height: 40px;
    display: flex;
    width: 60px;
    height: 45px;
}

.ano select {
    display: flex;
    margin-left: 80px;
    margin-top: -45px;
    width: 85px;
    height: 45px;
}

option {
    text-align: center;
    background-color: #ffffff;
    color: #000;
}

#b1 {
    background-color: rgb(98, 98, 236);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    margin-left: 540px;
    margin-top: -10px;

}

#b2 {
    background-color: rgb(98, 98, 236);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    margin-left: 500px;
    margin-top: -60px;
}

#n-vezes {
    position: absolute;
    width: 80px;
    margin-left: 190px;
    margin-top: -65px;
}

#vezes {
    position: absolute;
    margin-left: 190px;
    margin-top: -90px;
}

/*--------------------------------------------------------------- FIM INPUT CARDS------------------------------------------  */

/*-------------------------------------- BOTÕES CARD -------------------------- */

#btn-confirm {
    position: absolute;
    margin-left: 440px;
    margin-top: -5px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #000;
    cursor: pointer;
}

#btn-confirm:hover {
    background-color: #000000bf;
}

#btn-confirm a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

#btn-troca {
    position: absolute;
    margin-left: 80px;
    margin-top: -5px;
    border-radius: 10px;
    height: 40px;
    width: 300px;
    border: none;
    background-color: rgb(98, 98, 236);
    cursor: pointer;
}

#btn-troca:hover {
    background-color: rgba(98, 98, 236, 0.734);
}

#btn-troca a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

/*-------------------------------------- FIM BOTÕES CARD ------------------------------- */


/*------------------------------------- DIV PIX--------------------------------------- */

.div-pix {
    background-color: aliceblue;
    height: 260px;
    width: 600px;
    border-radius: 10px;
    position: absolute;
    height: 0;
    overflow: hidden;
    top: 124%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.div-pix h1 {
    margin-top: 0;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}

.div-pix p {
    text-align: center;
    margin-top: -30px;
}

.div-pix i {
    font-size: 120px;
    margin-left: 30px;
}

/*------------------------------------- DIV PIX--------------------------------------- */

/*------------------------------------- INPUT PIX--------------------------------------- */

.input-pix {
    position: absolute;
    margin-left: 200px;
    margin-top: -135px;
}

.input-pix input {
    width: 170px;
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #00001c;
    margin-top: 15px
}

.input-pix input:hover {
    background-color: #eeeeee75;
}

.input-pix input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-pix label {
    display: block;
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-pix i {
    font-size: 23px;
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
}

.input-pix button {
    background-color: transparent;
    border: none;
}

/*------------------------------------- FIM INPUT PIX--------------------------------------- */


#confirmar-pix {
    position: absolute;
    margin-left: 40px;
    margin-top: 95px;
    border-radius: 10px;
    height: 35px;
    width: 200px;
    border: none;
    background-color: rgb(98, 98, 236);
    cursor: pointer;
}

#confirmar-pix:hover {
    background-color: rgba(98, 98, 236, 0.734);
}

#confirmar-pix a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

#trocar-pix {
    position: absolute;
    margin-left: 280px;
    margin-top: 95px;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: #000;
    cursor: pointer;
}

#trocar-pix:hover {
    background-color: #000000bf;
}

#trocar-pix a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

#b3 {
    position: absolute;
    width: 80px;
    height: 80px;
    margin-left: 550px;
    margin-top: 80px;
    background-color: #6c63ff;
    border-radius: 50%;
}

#b4 {
    position: absolute;
    width: 80px;
    height: 80px;
    margin-left: 550px;
    margin-top: 110px;
    background-color: #6c63ff;
    border-radius: 50%;
}

#b5 {
    position: absolute;
    width: 80px;
    height: 80px;
    margin-left: 500px;
    margin-top: 90px;
    background-color: #6c63ff;
    border-radius: 50%;
}

/*--------------------------------------------- DIV DINHEIRO----------------------------------------- */

.div-dinheiro {
    background-color: #fff;
    height: 260px;
    width: 600px;
    border-radius: 10px;
    position: absolute;
    overflow: hidden;
    height: 0;
    top: 124%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.div-dinheiro h1 {
    margin-top: 0px;
    text-align: center;
    font-size: 27px;
    padding: 15px;
}

.div-dinheiro p {
    text-align: center;
    margin-top: -45px;
    padding: 20px;
}

/* ------------------------------ CHECK CIENTE ------------------------------  */

.checkmark {
    display: block;
    width: 25px;
    height: 25px;
    background-color: #909090;
    border-radius: 10px;
    position: relative;
    transition: background-color 0.4s;
    overflow: hidden;
    cursor: pointer;
    margin-left: 250px;
    margin-top: -20px;
}

#check:checked~.checkmark {
    background-color: #08bb68;
}

.checkmark::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(40deg) scale(10);
    opacity: 0;
    transition: all 0.4s;
}

#check:checked~.checkmark::after {
    opacity: 1;
    transform: translate(-50%, -50%) rotateZ(40deg) scale(1);
}

#eu-li {
    position: absolute;
    margin-left: 270px;
    margin-top: -10px;
    font-size: 15px;
}

/* ------------------------------ FIM CHECK CIENTE ------------------------------  */

/* ------------------------------------ TROCO -------------------------------------- */

.input-troco {
    margin-left: 80px;
    margin-top: -25px;
}

.opcao {
    margin-top: 5px;
}

/* ------------------------------------ FIM TROCO -------------------------------------- */

/* --------------------------------INPUT VALOR------------------------------------- */

.input-valor {
    margin-top: 10px;
    margin-left: 10px;
}

.input-valor input {
    width: 90px;
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #00001c;
    margin-top: 15px
}

.input-valor input:hover {
    background-color: #eeeeee75;
}

.input-valor input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-valor label {
    display: block;
    font-size: 0.75rem;
    font-weight: 800;
    color: #000000c0;
}

/* --------------------------------FIM INPUT VALOR------------------------------------- */

/* --------------------------------BOTAO DIN ------------------------------------- */


#confirmar-dinheiro {
    position: absolute;
    margin-left: 310px;
    margin-top: -90px;
    border-radius: 10px;
    height: 35px;
    width: 200px;
    border: none;
    background-color: rgb(98, 98, 236);
    cursor: pointer;
}

#confirmar-dinheiro:hover {
    background-color: rgba(98, 98, 236, 0.734);
}

#confirmar-dinheiro a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

#trocar-dinheiro {
    position: absolute;
    margin-left: 430px;
    margin-top: -40px;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: #000;
    cursor: pointer;
}

#trocar-dinheiro:hover {
    background-color: #000000bf;
}

#trocar-dinheiro a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

#b6 {
    position: absolute;
    width: 80px;
    height: 80px;
    margin-left: 200px;
    margin-top: -20px;
    background-color: #6c63ff;
    border-radius: 50%;
}

#b7 {
    position: absolute;
    width: 80px;
    height: 80px;
    margin-left: 250px;
    margin-top: -20px;
    background-color: #6c63ff;
    border-radius: 50%;
}

#b8 {
    position: absolute;
    width: 80px;
    height: 80px;
    margin-left: 300px;
    margin-top: -20px;
    background-color: #6c63ff;
    border-radius: 50%;
}

/* ------- MUDA COR E MOSTRAR ------- */

.cor-card {
    background: #ffffff !important;
    transition: 1s;
}

.mostrar {
    height: 260px !important;
    width: 600px !important;
    transition: .7s;
}
