@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: #96d3e6;

}

/* <!-- -------------------------------------PARTE COLORIDA---------------------------------- --> */

.container {
  width: 80%;
  height: 80vh;
  display: flex;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .212);
}

.qd-azul {
  width: 50%;
  height: 100%;
  background-color: rgb(53, 158, 168);
  display: block;
  border-radius: 10px 0 0 10px;
  /* border-radius: 0 10px 10px 0; */
}

#all-clean {
  align-items: center;
  text-align: center;
  width: 600px;
  height: 150px;
  margin-top: 60px;
}

#frase-1 {
  color: #fff;
  text-align: center;
  font-size: 20px;
  margin-top: -25px;
}

/* <!-- -------------------------------------BOTÃO CRIAR CONTA---------------------------------- --> */


#criar-conta {
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-radius: 9px;
  background: #ffffffe0;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  margin-left: 225px;
  margin-top: 20px;
  font-size: 18px;
 }
 
 #criar-conta:hover {
  box-shadow: 7px 5px 56px -14px #fff;
 }
 
 #criar-conta:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #fff;
 }

 .container a {
  text-decoration: none;
  color: #fff;
  color:  rgb(53, 158, 168);
}

#frase-2 {
  color: #fff;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

/* <!-- -------------------------------------ICONS---------------------------------- --> */

.icons {
  margin-top: 20px;
  margin-left: 150px;
}

.container div.icons a {
  color: #fff;
  text-decoration: none;
  font-size: 50px;
  padding: 10px;
}

/* <!-- -------------------------------------PARTE BRANCA---------------------------------- --> */

.qd-branco {
  width: 50%;
  height: 100%;
  background-color:#fff;
  display: block;
  border-radius: 0 10px 10px 0;
}

#frase-entrar {
  color:rgb(53, 158, 168);
  text-align: center;
  font-size: 50px;
  margin-top: 100px;
}

/* <!-- -------------------------------------INPUTS---------------------------------- --> */

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
  width: 400px;
  margin-left: 100px;
  margin-top: 20px;
}

.input-box input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #00001c;
}

.input-box input:hover {
  background-color: #eeeeee75;
}

.input-box input:focus-visible {
  outline: 1px solid  rgb(53, 158, 168);
}

.input-box label {
  font-size: 0.75rem;
  font-weight: 600;
  color: #000000c0;
}

.input-box input::placeholder {
  color: #000000be;
}

/* -------------------------------------OLHO----------------------------- */

#ver {
  position: absolute;
  width: 30px;
  margin-left: 350px;
  margin-top: 30px;
  cursor: pointer;
}

/* -----------------------------ESQUECEU SENHA--------------------------------- */

#frase-esqueceu {
  color:  rgb(53, 158, 168);
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.esq-senha {
  margin-top: 20px;
}

.qd-branco div.esq-senha a {
  color: #000;
  margin-left: 260px;
}

/* <!-- -------------------------------------BOTÃO ENTRAR---------------------------------- --> */

.bnt-entrar {
  position: relative;
  display: inline-block;
  padding: 16px 28px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius:10px;
  background-color:  rgb(53, 158, 168);
  /* border-radius: 40px; */
  overflow: hidden;
  border: none;
  z-index: 1;
  cursor:pointer;
  margin-top: 0px;
  margin-left: 235px;
}

.bnt-entrar:before {
  transition: 1s;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgb(53, 158, 168);
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.bnt-entrar:hover:before {
  width: 300px;
  height: 300px;
  opacity: 0.4;
  transition: all 0.5s ease-out;
}

.bnt-entrar:hover {
  background-color:rgb(53, 158, 168);
  color: #fff;
  transition: all 0.5s ease-out;
}

.bnt-entrar:hover:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color:rgb(59, 59, 228);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  animation: pulse 2s infinite;
}

.qd-branco button.bnt-entrar a {
  color: #fff;
  text-decoration: none;
}

@keyframes pulse {
  0% {
    width: 0;
    height: 0;
    opacity: 0.5;
  }

  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}
