@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #96d3e6;
}

/* --------------------------CONTAINER IMAGEM---------------------- */

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 158, 168);
    padding: 1rem;
    border-radius: 10px 0 0 10px;
}

.form-img img {
    width: 31rem;
}

/* --------------------------FORM---------------------- */

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
    border-radius: 0 10px 10px 0;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

/* --------------------------LOGIN BOTÃO---------------------- */

.login-button {
    display: flex;
    align-items: center;

}

.login-button button {
    border: none;
    background-color: rgb(53, 158, 168);
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: rgba(53, 158, 168, 0.634);
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: rgb(53, 158, 168);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

/* --------------------------INPUTS--------------------- */

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #00001c;
}

.input-box input:hover {
    background-color: #dfdfe4;
}

.input-box input:focus-visible {
    outline: 1px solid rgb(53, 158, 168);
}

.input-box label {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

/* --------------------------CRIAR BOTÃO---------------------- */

.criar-button button {
    width: 100%;
    margin-top: 2.0rem;
    border: none;
    background-color: rgb(53, 158, 168);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.criar-button button:hover {
    background-color: rgba(53, 158, 168, 0.634);
}

.criar-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

/* --------------------------POSSUI CONTA ?---------------------- */

#ja {
    position: absolute;
    margin-left: 21%;
    margin-top: 10px;
    color: #000000;
}

/* --------------------------CHECK---------------------- */

.checkmark {
    display: block;
    width: 25px;
    height: 25px;
    background-color: #ddd;
    border-radius: 10px;
    position: relative;
    transition: background-color 0.4s;
    overflow: hidden;
    cursor: pointer;
}

#check:checked~.checkmark {
    background-color: #08bb68;
}

.checkmark::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(40deg) scale(10);
    opacity: 0;
    transition: all 0.4s;
}

#check:checked~.checkmark::after {
    opacity: 1;
    transform: translate(-50%, -50%) rotateZ(40deg) scale(1);
}

/* --------------------------TERMOS E CONDIÇÕES---------------------- */

#eu-li {
    position: absolute;
    margin-left: 30px;
    margin-top: -20px;
    font-size: 15px;
}

#span:hover {
    cursor: pointer;
    color: #000000c3;
}

.checkbox-wrapper span {
    color: rgb(53, 158, 168);
    cursor: pointer;
}

#tm {
    position: absolute;
    margin-left: 350px;
    margin-top: 25px;
    font-size: 20px;
    color: #fff;
}

.termos {
    position: absolute;
    text-align: justify;
    margin-top: -100px;
    margin-left: 50px;
    width: 50%;
    height: 420px;
    height: 0;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(212, 212, 207);
    overflow-x: hidden;
}

.termos-condicoes {
    width: 100%;
    height: 50px;
    background-color: rgb(53, 158, 168);
    border-radius: 10px 10px 0 0;
}

.termos-condicoes i {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    margin-top: 7px;
    margin-left: 10px;
}

.termos-condicoes i:hover {
    color: #ffffffb2;
}

.termos-condicoes h1 {
    color: #fff;
    text-align: center;
    padding: 5px;
}

.text-termos {
    padding: 10px;
    font-size: 15px;
}

.mostrar-termos {
    width: 50%;
    height: 420px;
}

.branco {
    width: 70%;
    height: 420px;
    background-color: #fff;
    margin-top: 100px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    border-radius: 0 0 10px 10px;
}



.branco .azul i {
    position: absolute;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 25px;
}

.branco .azul i:hover {
    color: #ffffffc8;
}

.branco .azul p {
    color: #fff;
    font-size: 20px;
    margin-left: 100px;
}

#tmt {
    padding: 20px;
    font-size: 17px;
    text-align: justify;
    justify-content: center;
}

/* --------------------------VER---------------------- */

#ver {
    position: absolute;
    width: 30px;
    margin-left: 180px;
    margin-top: 30px;
    cursor: pointer;
}

#ver1 {
    position: absolute;
    width: 30px;
    margin-left: 180px;
    margin-top: 30px;
    cursor: pointer;
}