@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #96d3e6;
    font-family: 'Inter', sans-serif;
}

/* CABEÇALHO */

.azul {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background-color: rgb(53, 158, 168);
    z-index: 2;
}

.azul img {
    display: block;
    margin: auto;
    margin-top: -15px;
    width: 500px;
}

/* MENU LATERAL  */

.menu-lateral {
    width: 80px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    padding: 40px 0 40px 1%;
    box-shadow: 5px 0 0 #fff;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .4s;
    z-index: 3;
}

.menu-lateral.expandir {
    width: 300px;
}

.bnt_expandir {
    width: 100%;
    padding: 30px;
}

.bnt_expandir>i {
    color: rgb(255, 255, 255);
    font-size: 30px;
    cursor: pointer;
    margin-left: -20px;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item_menu {
    transition: .3s;
}

ul li.ativo {
    background-color: rgb(53, 158, 168);
}

ul li.item_menu:hover {
    background-color: rgb(53, 158, 168);
}

ul li.item_menu a {
    color: azure;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 25px;
    line-height: 40px;
}

ul li.item_menu a .txt-link {
    margin-left: 65px;
    transition: .5s;
    opacity: 0;
}

.menu-lateral.expandir .txt-link {
    margin-left: 35px;
    opacity: 1;
}

ul li.item_menu a .icon>i {
    font-size: 30px;
    margin-left: 10px;
}

/* FIM MENU LATERAL  */

/* -------------------TEXT-------------- */

.text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.text h1 {
    font-size: 60px;
    color: #fff;
    text-align: center;
}

.text p {
    font-size: 25px;
    text-align: center;
    margin-top: -20px;
}

/* ------------------- FIM TEXT-------------- */

/* -------------------MÊS E SETA-------------- */

.mes-seta {
    display: flex;
    position: absolute;
    top: 45%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.fundo-btn {
    display: flex;
    background-color: #fff;
    margin-top: 10%;
    margin-left: 95%;
    padding: 10px;
    width: 150px;
    height: 70px;
    border-radius: 20px;
}

.mes-seta h1 {
    font-size: 60px;
    color: #fff;
}

.arrow-cima {
    margin-left: 0px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgb(53, 158, 168);
    cursor: pointer;
}

.arrow-cima:hover {
    background-color: rgba(53, 158, 168, 0.804);
}

.arrow-cima i {
    font-size: 40px;
    color: #fff;
    margin-left: 5px;
    
}

.arrow-baixo {
    margin-left: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgb(53, 158, 168);
    cursor: pointer;
}

.arrow-baixo:hover {
    background-color: rgba(53, 158, 168, 0.804);
}

.arrow-baixo i {
    position: absolute;
    font-size: 40px;
    color: #fff;
    margin-left: 5px;
    margin-top: 5px;
    
}

/* -------------------FIM MÊS E SETA-------------- */

/* -------------------LINHA E AGENDA-------------- */

.linha {
    position: absolute;
    width: 2px;
    height: 310px;
    background-color: #fff;
    margin-left: -10px;
    margin-top: 110px;
}

#agenda {
    position: absolute;
    margin-top: 480px;
    margin-left: -85px;
    color: #fff;
    transform: rotate(270deg);
    font-size: 35px;
}

/* -------------------FIM LINHA E AGENDA-------------- */

/* -------------------HISTORICO JANEIRO-------------- */

.pai-quadrado {
    display: block;
    position: absolute;
    top: 82%;
    left: 52%;
    transform: translate(-50%, -50%);
}

.quadro-colorido {
    height: 95px;
    width: 250px;
    text-align: center;
    padding: 10px;
    background-color: rgb(53, 158, 168);
    margin-top: 25px;
    border-radius: 10px 0 0 10px;
}

.dia-hora {
    font-size: 25px;
    color: #fff;
}

.hora {
    font-size: 25px;
    color: #fff;
    margin-top: 10px;
}

.flex-container {
    display: flex;
}

.quadro-branco {
    height: 95px;
    width: 450px;
    background-color: #fff;
    text-align: center;
    margin-top: 25px;
    border-radius: 0 10px 10px 0;
}

.quadro-branco div {
    font-size: 30px;
    margin-top: 30px;
}

.espaco {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color:transparent;
    margin-top: 830px;
    margin-left: 50%;
}
