*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    background: rgb(75,149,237);
    background: linear-gradient(90deg, rgba(75,149,237,1) 0%, rgba(81,170,207,1) 35%, rgba(0,212,255,1) 100%);
}

/* MENU LATERAL  */

.menu-lateral {
    width: 70px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    padding: 40px 0 40px 1%;
    box-shadow: 5px 0 0 rgb(30, 30, 201);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .3s;
}

.menu-lateral:hover {
    width: 300px;
}

.bnt_expandir {
    width: 100%;
    padding: 10px;
}

.bnt_expandir > i {
    color: rgb(255, 255, 255);
    font-size: 30px;
    cursor: pointer;
    margin-left: -5px;
}

ul {
    height: 100%;
    list-style-type: none;
}
ul li.item_menu {
    transition: .3s;
}

ul li.item_menu:hover {
    background-color: rgb(30, 30, 201);
}

ul li.item_menu a {
    color: azure;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 30px;
    line-height: 40px;
}

ul li.item_menu a .txt-link {
    margin-left: 30px;
}

ul li.item_menu a .icon > i {
 font-size: 30px;
 margin-left: 0px;
}

/* FIM MENU LATERAL  */

/* Resto do site */

