@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #96d3e6;
    font-family: 'Inter', sans-serif;
}

/*------------------ CABEÇALHO--------------- */

.azul {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background-color: rgb(53, 158, 168);
    z-index: 2;
}

.azul img {
    display: block;
    margin: auto;
    margin-top: -15px;
    width: 500px;
}

/*------------------------ MENU LATERAL-----------------------------*/

.menu-lateral {
    width: 80px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    padding: 40px 0 40px 1%;
    box-shadow: 5px 0 0 rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .4s;
    z-index: 2;
}

.menu-lateral.expandir {
    width: 300px;
}

.bnt_expandir {
    width: 100%;
    padding: 30px;
}

.bnt_expandir>i {
    color: rgb(255, 255, 255);
    font-size: 30px;
    cursor: pointer;
    margin-left: -20px;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item_menu {
    transition: .3s;
}

ul li.ativo {
    background-color: rgb(53, 158, 168);
}

ul li.item_menu:hover {
    background-color: rgb(53, 158, 168);
}

ul li.item_menu a {
    color: azure;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 4%;
    display: flex;
    margin-bottom: 25px;
    line-height: 35px;
}

ul li.item_menu a .txt-link {
    margin-left: 65px;
    transition: .5s;
    opacity: 0;
}

.menu-lateral.expandir .txt-link {
    margin-left: 35px;
    opacity: 1;
}

ul li.item_menu a .icon>i {
    font-size: 30px;
    margin-left: 10px;
}

/* ------------------------CARD----------------------- */

.card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    position: absolute;
    left: 12%;
    top: 20%;
    width: 80%;
    height: 60%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
}

/* ------------------------H1, H2 --------------------- */

.card h1 {
    text-align: center;
    font-size: 50px;
}

.card h2 {
    text-align: center;
    font-size: 35px;
}

/* ----------------------inputs------------------ */

.inputs {
    display: flex;
    margin-left: 33%;
    margin-top: 5%;
}

.inputs input {
    text-align: center;
    width: 15%;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #00001c;
    cursor: pointer;
    margin-left: -35px;
}

.inputs input:hover {
    background-color: #dfdfe4;
}

.inputs input:focus-visible {
    outline: 1px solid rgb(53, 158, 168);
}

.inputs input::placeholder {
    color: #000000be;
}

.inputs label {
    font-size: 15px;
    font-weight: 600;
    color: #000000c0;
    margin-top: -30px;
    margin-left: 50px;
}

/* -----------------------------SELECT-------------------- */

#horario {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeeeee;
    background-position: 218px center;
    width: 125px;
    height: 40px;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 10px;
    outline: none;
    box-shadow: 1px 1px 6px #00001c;
    margin-top: 10px;
    margin-left: -55px;
    cursor: pointer;
}

/* -------------------------SALVAR------------------- */

.salvar h3 {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}

.salvar button {
    margin-left: 40%;
    margin-top: 10px;
    width: 20%;
    height: 40px;
    border: none;
    background-color: rgb(53, 158, 168);
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}

/* ----------------------------------arrow---------------------------- */

.voltar {
    position: absolute;
    margin-top: -8%;
    margin-left: 5%;
    width: 65px;
    height: 65px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.voltar:hover {
    background-color: rgba(0, 0, 0, 0.553);
}
    
.voltar i {
    position: absolute;
    font-size: 55px;
    cursor: pointer;
    margin-left: -35px;
    margin-top: -30px;
}

.voltar i:hover { 
    color: #fff;
}

.proximo {
    position: absolute;
    margin-top: -8%;
    margin-left: 90%;
    width: 65px;
    height: 65px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.proximo:hover {
    background-color: rgba(0, 0, 0, 0.553);
}
    
.proximo i {
    position: absolute;
    font-size: 55px;
    cursor: pointer;
    margin-left: -25px;
    margin-top: -30px;
}

.proximo i:hover { 
    color: #fff;
}

/* -------------------------------------BOLHAS---------------------------- */

#b1 {
    position: absolute;
    margin-top: -35%;
    margin-left: -15px;
    width: 150px;
    height: 150px;
    background-color: rgb(53, 158, 168);
    border-radius: 50%;
}

#b2 {
    position: absolute;
    margin-top: -40%;
    margin-left: 8%;
    width: 150px;
    height: 150px;
    background-color: rgb(53, 158, 168);
    border-radius: 50%;
}

#b3 {
    position: absolute;
    margin-top: -26%;
    margin-left: -8%;
    width: 150px;
    height: 150px;
    background-color: rgb(53, 158, 168);
    border-radius: 50%;
}

#b4 {
    position: absolute;
    margin-left: 90%;
    width: 150px;
    height: 150px;
    background-color: rgb(53, 158, 168);
    border-radius: 50%;
}

#b5 {
    position: absolute;
    margin-left: 95%;
    margin-top: -8%;
    width: 150px;
    height: 150px;
    background-color: rgb(53, 158, 168);
    border-radius: 50%;
}

/* ------------------------------------INFORMAÇÕES---------------------------- */

.flex {
    display: flex;
    margin-top: 80vh;
    margin-left: 12%;
    position: absolute;
}

.ativo-inativo {
    display: flex;
    margin-top: 4%;
    margin-left: 8%;
}

.ativo-inativo i {
    font-size: 50px;
    color: green;
}

.ativo-inativo p {
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

.status {
    display: flex;
    margin-left: 6%;
    margin-top: 4%;
}

.status p {
    font-size: 30px;
    margin-top: 20px;
    margin-left: 10px;
    width: 400px;
}



/* --------------------LAVAGENS---------------------- */


.lavagens {
    display: flex;
    margin-left: 2%;
}

.lavagens i {
    font-size: 50px;
}


/* --------------------VALIDADE---------------------- */

.validade {
    display: flex;
    margin-left: 5%;
}

.validade i {
    font-size: 50px;

}

