@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #96d3e6;
    font-family: 'Inter', sans-serif;
}

/*------------------ CABEÇALHO--------------- */

.azul {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background-color: rgb(53, 158, 168);
    z-index: 2;
}

.azul img {
    display: block;
    margin: auto;
    margin-top: -15px;
    width: 500px;
}

/*------------------------ MENU LATERAL-----------------------------*/

.menu-lateral {
    width: 80px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    padding: 40px 0 40px 1%;
    box-shadow: 5px 0 0 rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .4s;
    z-index: 2;
}

.menu-lateral.expandir {
    width: 300px;
}

.bnt_expandir {
    width: 100%;
    padding: 30px;
}

.bnt_expandir>i {
    color: rgb(255, 255, 255);
    font-size: 30px;
    cursor: pointer;
    margin-left: -20px;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item_menu {
    transition: .3s;
}

ul li.ativo {
    background-color: rgb(53, 158, 168);
}

ul li.item_menu:hover {
    background-color: rgb(53, 158, 168);
}

ul li.item_menu a {
    color: azure;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 4%;
    display: flex;
    margin-bottom: 15px;
    line-height: 35px;
}

ul li.item_menu a .txt-link {
    margin-left: 65px;
    transition: .5s;
    opacity: 0;
}

.menu-lateral.expandir .txt-link {
    margin-left: 35px;
    opacity: 1;
}

ul li.item_menu a .icon>i {
    font-size: 30px;
    margin-left: 10px;
}

/* ------------------------CARD----------------------- */

.card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    position: absolute;
    left: 55%;
    top: 20%;
    width: 40%;
    height: 40%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}


/* -------------------------------INPUTS------------------------ */

.inputs {
    margin-top: -1%;
    text-align: center;
}

.inputs input {
    text-align: center;
    width: 20%;
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #00001c;
    cursor: pointer;
}

.inputs input:hover {
    background-color: #dfdfe4;
}

.inputs input:focus-visible {
    outline: 1px solid rgb(53, 158, 168);
}

.inputs input::placeholder {
    color: #000000be;
}

.inputs label {
    font-size: 15px;
    font-weight: 600;
    color: #000000c0;
    display: block;
    margin-top: 10px;
}

/* ---------------------------Nº LAVAGEM--------------------------- */

.card h1 {
    text-align: center;
    color: #000;
    font-size: 40px;
    margin-top: 10px;
}

/*----------------------------PROXIMO, VOLTAR--------------------------- */

.card .proximo, .voltar{
    position: fixed;
    width: 4%;
    height: 8%;
    border-radius: 100%;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-left: 34%;
    margin-top: -8%;
}

.card .voltar {
    margin-left: 15px;
    
}

.card .proximo:hover, .voltar:hover {
    background-color: #03030376;
}

.card .proximo i:hover, .voltar i:hover {
    color: #fff;
}

.card .proximo i, .voltar i {
    color: black;
    font-size: 45px;
    margin-left: 8px;
}

.card .voltar i {
    margin-left: -10px;


}


/* -----------------------------SELECT-------------------- */

#horario {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeeeee;
    background-position: 218px center;
    width: 125px;
    height: 40px;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 10px;
    outline: none;
    box-shadow: 1px 1px 6px #00001c;
    margin-top: 10px;
    cursor: pointer;
}

/* -------------------------STATUS---------------------- */

.block {
    display: block;
    margin-left: 10%;
    margin-top: 10%;
}

/* ---------------------------KIT--------------------------- */

.kit {
    width: 40%;
    height: 80px;
    background-color: #fff;
    border-radius: 8px;
}

.kit h2 {
    font-size: 50px;
    text-align: center;
    padding: 10px;
}

/* -------------------------------ATIVO---------------------------- */

.ativo-inativo {
    display: flex; 
    margin-top: 2%; 
}

.ativo-inativo i {
    color: rgb(0, 129, 0);
    font-size: 40px;
    margin-top: 20px;
 
}

.ativo-inativo p {
    font-size: 40px;
    margin-top: 20px;
    margin-left: 10px;
}

/* -------------------------------STATUS------------------------- */

.lavagens, .validade  {
    display: flex;
}

.lavagens i, .validade i {
    color: #000;
    font-size: 40px;
}



.lavagens p, .validade p {
    font-size: 30px;
    margin-top: 12px;
    margin-left: 15px;
}

/* ----------------------------AVISO---------------------- */

.aviso {
    border: 5px solid black;
    width: 35%;
    margin-left: 10%;
    padding: 10px;
    text-align: justify;
}

/* ---------------------------SALVAR------------------------- */

.salvar {
    margin-left: 58%;
    margin-top: -12%
}

.salvar button {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(53, 158, 168);
    color: #fff;
    margin-left: 25%;
    margin-top: 5%;
}

.salvar button:hover {
    background-color: rgba(53, 158, 168, 0.397);
    transition: 1s;
}