@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

body {
    background: #96d3e6;
}
/* ------------------CABEÇALHO------------------- */

.cabecalho {
    z-index: 2;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 120px;
    background-color: rgb(53, 158, 168);
}

.cabecalho img {
    position: absolute;
    margin-top: -1.5%;
    width: 40%;
    margin-left: 10%;
}

.button-entrar {
    position: absolute;
    margin-left: 60%;
    width: 15%;
    height: 45%;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
}

.button-entrar:hover {
    background-color: rgba(255, 255, 255, 0.751);
}

.button-criar-conta {
    position: absolute;
    margin-left: 80%;
    width: 15%;
    height: 45%;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
}

.button-criar-conta:hover {
    background-color: rgba(255, 255, 255, 0.751);
}

/* ------------------IMAGEM------------------- */

.imagem {
    width: 100%;
    height: 60%;
    position: relative;
    left: -1%;
    top: 15%;
}

.imagem img {
    z-index: 1;
    width: 101.5%;
}

.frase-imagem {
    position: absolute;
    margin-top: -40%;
    margin-left: 10%;
    background-color: #fff;
    border-radius: 10px;
    width: 50%;
    height: 40%;
}

.frase-imagem h1 {
    text-align: center;
    font-size: 60px;
}

.frase-imagem p {
    margin-top: -50px;
    font-size: 25px;
    padding: 40px;
    text-align: justify;
}

/* ----------------------------DIV-CARDS----------------------------- */

.div-cards {
    display: flex;
    width: 100%;
    margin-top: 2.5%;
}

.card-meio {
    border: 1px solid black;
    width: 20%;
    height: 200px;
    border-radius: 10px;
    padding: 25px;
    font-size: 17px;
    text-align: justify;
    background-color: #fff;
    margin-left: 6%;
}

.card-meio p {
    margin-top: 0px;
}

.div-cards i {
    font-size: 50px;
    margin-top: 20px;
}

.div-i {
    margin-left: -10px;
}

.div-i i {
    margin-left: 40px;
}


/* ------------------CARDS HORA E LOCAL------------------- */

.flip-card {
    background-color: transparent;
    width: 350px;
    height: 230px;
    perspective: 1000px;
    font-family: sans-serif;
    margin-left: 9%;
  }
  
  .title {
    font-size: 45px;
    color: black;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    text-align: center;
    padding: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background: linear-gradient(120deg, rgb(255, 255, 255) 60%, rgb(255, 255, 255) 88%,
       rgb(255, 255, 255) 40%,rgb(53, 158, 168) 48%);
    color: #000;
  }
  
  .flip-card-back {
    background: linear-gradient(120deg, rgb(255, 255, 255) 60%, rgb(255, 255, 255) 88%,
       rgb(255, 255, 255) 40%,rgb(53, 158, 168) 48%);
    color: #000;
    transform: rotateY(180deg);
  }

/* --------------------------------CARD2----------------------- */

  .flip-card2 {
    background-color: transparent;
    width: 350px;
    height: 230px;
    perspective: 1000px;
    font-family: sans-serif;
    margin-left: 5%;
  }
  
  .title2 {
    font-size: 45px;
    color: black;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner2 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card2:hover .flip-card-inner2 {
    transform: rotateY(180deg);
  }
  
  .flip-card-front2, .flip-card-back2 {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    text-align: center;
    padding: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
  }
  
  .flip-card-front2 {
    background: linear-gradient(120deg, rgb(255, 255, 255) 60%, rgb(255, 255, 255) 88%,
       rgb(255, 255, 255) 40%,rgb(53, 158, 168) 48%);
    color: #000;
  }
  
  .flip-card-back2 {
    background: linear-gradient(120deg, rgb(255, 255, 255) 60%, rgb(255, 255, 255) 88%,
       rgb(255, 255, 255) 40%,rgb(53, 158, 168) 48%);
    color: #000;
    transform: rotateY(180deg);
  }

  .flip-card-back p, .flip-card-back2 p {
    padding: 15px;
    text-align: justify;
    font-size: 17px;
  }

  /* ----------------------------NOSSA EMPRESA-------------------- */

  .nossa-empresa {
    width: 100%;
    height: 400px;
  }

  .nossa-empresa img {
    position: absolute;
    width: 650px;
    border-radius: 20px;
    margin-left: 47%;
    margin-top: -30%;
    border: 5px solid #fff;
  }

  .nossa-empresa h2 {
    margin-left: 9%;
    margin-top: 5%;
    font-size: 60px;
  }

  .ne-p {
    margin-left: 9%;
    width: 30%;
    font-size: 21.5px;
    text-align: justify;
  }

  /* ------------------------------------CARD KITS--------------------- */

.card-kits {
    display: flex;
    margin-top: 10%;
    margin-left: 3.5%;
}

  .card {
    width: 190px;
    height: 254px;
    margin-left: 5.5%;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: rgb(53, 158, 168);
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    cursor: pointer;
   }
   
   .text-body {
    color: rgb(134, 134, 134);
    text-align: center;
    font-size: 20px;
    margin-top: -20px;
   }
   
   /*Text*/
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
    font-size: 30px;
   }
   
   /*Hover*/
   .card:hover {
    border-color: rgb(53, 158, 168);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }


   /* ---------------------------LAVAGEM E HIDATRAÇÃO--------------------- */

   .lavagem-hidatracao {
    width: 82%;
    height: 400px;
    margin-left: 9%;
    margin-top: 5%;
   }

   .lavagem-hidatracao h3 {
    font-size: 60px;
   }

   
   .lavagem-hidatracao ul li {
    font-size: 22px;
    margin-top: 20px;
    text-align: justify;
   }

   /* ------------------------------DOBRAGEM------------------------------ */

   .dobragem {
    margin-top: 15%;
    margin-left: 9%;
   }

   .dobragem p {
    width: 40%;
    font-size: 25px;
    text-align: justify;
   }

   .dobragem img {
    position: absolute;
    width: 600px;
    height: 300px;
    border: 5px solid #fff;
    border-radius: 10px;
    margin-top: -20px;
    margin-left: 41%;
    margin-top: -11.5%;
   }

   .espaco {
    margin-top: 10%;
    height: 50px;    
    width: 50px;
    background-color: transparent;
}