@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #96d3e6;
    font-family: 'Inter', sans-serif;
}

/*------------------ CABEÇALHO--------------- */

.azul {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background-color: rgb(53, 158, 168);
    z-index: 2;
}

.azul img {
    display: block;
    margin: auto;
    margin-top: -15px;
    width: 500px;
}

/*------------------------ MENU LATERAL-----------------------------*/

.menu-lateral {
    width: 80px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    padding: 40px 0 40px 1%;
    box-shadow: 5px 0 0 rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .4s;
    z-index: 2;
}

.menu-lateral.expandir {
    width: 300px;
}

.bnt_expandir {
    width: 100%;
    padding: 30px;
}

.bnt_expandir>i {
    color: rgb(255, 255, 255);
    font-size: 30px;
    cursor: pointer;
    margin-left: -20px;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item_menu {
    transition: .3s;
}

ul li.ativo {
    background-color: rgb(53, 158, 168);
}

ul li.item_menu:hover {
    background-color: rgb(53, 158, 168);
}

ul li.item_menu a {
    color: azure;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 4%;
    display: flex;
    margin-bottom: 25px;
    line-height: 35px;
}

ul li.item_menu a .txt-link {
    margin-left: 65px;
    transition: .5s;
    opacity: 0;
}

.menu-lateral.expandir .txt-link {
    margin-left: 35px;
    opacity: 1;
}

ul li.item_menu a .icon>i {
    font-size: 30px;
    margin-left: 10px;
}

/* -------------------------RESTO DO SITE---------------- */

#img {
    width: 35%;
    margin-left: 32.5%;
    margin-top: 0%;
}

h1 {
    text-align: center;
    margin-top: 10%;
    color: rgba(100, 98, 98, 0.568);
    opacity: 1;
}

a{
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    color: black;
}

.inativo {
    margin-left: 7%;
    margin-top: -6.5%;
    display: flex;
}

.inativo i {
    font-size: 50px;
    color: red;
    margin-top: 1%;
}

.inativo p {
    font-size: 40px;
    margin-top: 2%;
    margin-left: 1%;
}